<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ropaapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_rellenarPrendas"></activity>
        <activity android:name=".Activity_Terminos" />
        <activity android:name=".Activity_Crearconjunto" />
        <activity android:name=".Activity_MenuySelecciondeclientes" />
        <activity android:name=".Activity_Conjuntos" />
        <activity android:name=".Activity_Seleccion_Prenda" />
        <activity android:name=".Activity_Armario" />
        <activity android:name=".Activity_Menu" />
        <activity android:name=".Activity_Pagar" />
        <activity android:name=".Activity_Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>